version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: news_postgres
    environment:
      # POSTGRES_USER: newsuser
      # POSTGRES_PASSWORD: newspass
      # POSTGRES_DB: newsdb
      POSTGRES_USER:newuser
      POSTGRES_PASSWORD:8hI7zf5RIRuRF3TNDRbZ96zr1EBWm31J
      POSTGRES_DB:newsdb_qt49
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U newsuser -d newsdb_qt49"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: news_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    build: .
    container_name: news_api
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: unless-stopped

volumes:
  postgres_data:
  redis_data:
